*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(./imagem/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  /* Ajusta o texto automatico para não quebra a pagina na hore de rolar */
}

main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border:  1px solid darkblue;
    border-radius: 10px;
}